header {
  color: var(--font-color);
  background-color: #2d3339;

  grid-area: header;
}

.header h1 {
  font-weight: 500;
  font-size: 2.4rem;
  padding: 1.6rem 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

footer {
  color: var(--font-color);
  background-color: #2d3339;
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: right;
  padding: 2.4rem 1.2rem;

  grid-area: footer;
}

main {
  max-width: 50rem;
  grid-area: market;
  justify-self: right;
  margin-left: 0.9rem;
}

aside {
  width: 60rem;
  grid-area: chart;
  justify-self: left;
  margin-right: 0.9rem;
}

.section-summary {
  min-height: 24.8rem;
}

.summary-data {
  color: var(--font-color);
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.6rem;

  display: grid;
  grid-template-rows: 5rem 5rem;
  grid-template-columns: 50% auto auto;
  gap: 0.8rem;
  align-items: center;
  line-height: 1.5;
}

.current-price {
  grid-column: 1;
  grid-row: 1/-1;
}

.last-price {
  font-size: 3.6rem;
  font-weight: 500;
  padding: 0 2.4rem;
}

.change-percent {
  font-size: 1.6rem;
  padding: 0 2.4rem;
}

.summary-data span {
  color: var(--font-color-prime);
  font-size: 1.6rem;
  font-weight: 400;
}

.summary-total {
  margin-bottom: 0.6rem;
  display: flex;
  gap: 1.2rem;
}

.total {
  font-weight: 500;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-asa {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.total-xu {
  font-weight: 400;
  color: var(--font-color-prime);
}

.buy-total,
.sell-total {
  padding-left: 0.4rem;
}

.section-swap {
  margin-bottom: 0.6rem;
  display: flex;
  gap: 1.2rem;
  align-items: flex-end;
  justify-content: center;
}

.swap-container {
  width: 40%;
}

.swap-title {
  padding-bottom: 0.8rem;
  color: var(--font-color);
  font-size: 1.4rem;
}

.swap-title input {
  margin-left: 0.5rem;
  cursor: pointer;
}

#swap-xu,
#swap-asa {
  width: 100%;
  background-color: #2d3339;
  border: 1px solid var(--font-color);
  border-radius: 5px;
  outline: none;
  color: var(--font-color-prime);
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
}

.section-swap .icon {
  position: relative;
  bottom: -0.1rem;
}

.section-order {
  padding: 0.8rem 1.2rem 1.6rem;
  background-color: var(--theme-color);
  min-height: 67.4rem;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu-select,
.menu-order {
  color: var(--font-color);
  background-color: var(--theme-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.menu-select {
  padding: 1.6rem 0;
}

.menu-order {
  padding-bottom: 1.2rem;
}

.menu-select h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  justify-self: flex-start;
}

.menu-select .input {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.menu-list {
  font-size: 1.4rem;
  width: 30%;
  font-weight: 300;
}

#sum-list {
  margin-right: 1.2rem;
}

.input select {
  border-radius: 5px;
  padding: 0.4rem 2.4rem 0.4rem 0.7rem;
  appearance: none;
  border: 1px solid #ced4da;
  outline: none;
  color: var(--font-color);
  font-size: 1.8rem;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23dee2e6%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 0.8rem top 50%, 0, 0;
  background-size: 1.4rem auto, 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.input option {
  background-color: var(--theme-color);
}

.order-list {
  background-color: var(--theme-color);
  width: 100%;
  min-height: 49rem;
  display: flex;
}

.buy-list,
.sell-list {
  width: 50%;
}

.buy-list > div,
.sell-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  position: relative;
  height: 2.8rem;
}

.buy-order {
  color: var(--buy-color);
  z-index: 10;
  padding-right: 0.8rem;
}

.sell-order {
  color: var(--sell-color);
  z-index: 10;
  padding-left: 0.8rem;
}

.buy-amount {
  padding-left: 0.8rem;
}

.sell-amount {
  padding-right: 0.8rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Chart layout */

.chart-item-buy,
.chart-item-sell {
  width: var(--percent);
  height: 2.8rem;
}

.chart-item-buy {
  background-color: rgba(55, 178, 77, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.chart-item-sell {
  background-color: rgba(240, 62, 62, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Volume chart */

.section-chart h2 {
  background-color: var(--theme-color);
  font-weight: 500;
  font-size: 1.7rem;
  padding: 2.4rem 1.2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.volume-chart {
  background-color: var(--theme-color);
  min-height: 24rem;
  padding: 1.2rem 1.2rem 2.4rem 1.2rem;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: auto;
  gap: 0.1rem;
}

.week {
  margin-bottom: 0.6rem;
}

.chart-column {
  height: var(--percent);
  background-color: #087f5b;
}

.volume-chart > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.6rem;
}

.volume-chart .date,
.volume-chart .value {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--font-color);
  margin: 0 auto;
}

.volume-chart .date {
  height: 3.5rem;
  text-align: end;
}

.volume-chart .value {
  height: 4.5rem;
  text-align: start;
}
