* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #212529;
  color: #f8f9fa;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 20px;
  margin: 5px 0 10px;
}

section {
  margin: 20px 0 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
  section {
    width: 100%;
    min-width: 300px;
  }
}

.summary {
  background-color: #343a40;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50% auto auto;
  gap: 5px;
  align-items: center;
  line-height: 1.2;
}

.current-price {
  grid-column: 1;
  grid-row: 1/-1;
}

.last-price {
  font-size: 36px;
  font-weight: 500;
  padding: 0 20px;
}

.change-percent {
  padding: 0 20px;
}

.summary span {
  font-size: 14px;
  font-weight: 400;
}

.total {
  background-color: #343a40;
  width: 100%;
  margin: 5px 0;
  padding: 20px 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.total .order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.total-asa {
  font-size: 16px;
  margin-bottom: 2px;
}

.total-xu {
  color: #f8f9fa;
}

.icon {
  width: 28px;
}

.sell-icon {
  stroke: #f03e3e;
}

.buy-icon {
  stroke: #37b24d;
}

.total .buy-order,
.total .sell-order {
  padding-left: 5px;
  font-weight: 500;
}

.buy-order {
  color: #37b24d;
}

.sell-order {
  color: #f03e3e;
}

.menu-select,
.menu {
  background-color: #343a40;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-select {
  padding-bottom: 2px;
}

.menu-select h3 {
  font-weight: 500;
  font-size: 14px;
  justify-self: flex-start;
}

.menu-list {
  width: 30%;
  font-weight: 300;
}

.input select {
  background: transparent;
  color: #dee2e6;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
}

.order-list {
  background-color: #343a40;
  width: 100%;
  padding: 0 10px;
  min-height: 440px;
  display: flex;
}

.buy-list {
  width: 50%;
  padding-right: 5px;
  border-right: 1px solid #dee2e6;
}

.sell-list {
  width: 50%;
  padding-left: 5px;
}

.buy-list div,
.sell-list div {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
