:root {
  --theme-color: #212529;
  --font-color-prime: #f8f9fa;
  --font-color: #e9ecef;
	--buy-color: #37b24d;
  --sell-color: #f03e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #171a1c;
  color: var(--font-color-prime);
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

header, footer {
  color: var(--font-color);
  width: 100%;
  background-color: #2d3339;
}

header h1 {
  font-weight: 500;
  font-size: 20px;
  padding: 15px 10px;
  text-align: center;
}

footer {
  line-height: 1.5;
  font-size: 12px;
  text-align: right;
  padding: 15px 10px;
}

section {
  /* margin: 20px 0 10px; */
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  section {
    width: 100%;
    min-width: 300px;
  }
}

.summary {
  background-color: var(--theme-color);
  color: var(--font-color);
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  margin-top: 7px;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50% auto auto;
  gap: 5px;
  align-items: center;
  line-height: 1.5;
}

.current-price {
  grid-column: 1;
  grid-row: 1/-1;
}

.last-price {
  font-size: 36px;
  font-weight: 500;
  padding: 0 20px;
}

.change-percent {
  font-size: 14px;
  padding: 0 20px;
}

.summary span {
  color: var(--font-color-prime);
  font-size: 14px;
  font-weight: 400;
}

.total {
  background-color: var(--theme-color);
  width: 100%;
  margin: 5px 0;
  padding: 20px 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.total .order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.total-asa {
  font-size: 18px;
  margin-bottom: 2px;
}

.total-xu {
  color: #f8f9fa;
}

.icon {
  width: 32px;
}

.sell-icon {
  stroke: var(--sell-color);
}

.buy-icon {
  stroke: var(--buy-color);
}

.total .buy-total,
.total .sell-total {
  padding-left: 5px;
  font-weight: 500;
}

.total .buy-total {
  color: var(--buy-color);
}

.total .sell-total {
  color: var(--sell-color);
}

.menu-select,
.menu {
  color: var(--font-color);
  background-color: var(--theme-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-select {
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 15px 10px 5px;
}

.menu {
  padding: 10px 15px;
  position: sticky;
  top: 45px;
  z-index: 100;
}

.menu-select h3 {
  font-weight: 500;
  font-size: 14px;
  justify-self: flex-start;
}

.menu-list {
  font-size: 12px;
  width: 30%;
  font-weight: 300;
}

#sum-list {
  margin-right: 10px;
}

.input select {
  /* width: 50px; */
  background: transparent;
  color: var(--font-color-prime);
  /* text-align: center; */
  font-size: 16px;
  padding: 2px;
}

.input option {
  background-color: var(--theme-color);
}

.order-list {
  background-color: var(--theme-color);
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 7px;
  min-height: 410px;
  display: flex;
}

.buy-list {
  width: 50%;
  padding-left: 10px;
}

.sell-list {
  width: 50%;
  padding-right: 10px;
}

.buy-list > div,
.sell-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: relative;
  height: 24px;
}

.buy-order {
  color: var(--buy-color);
  z-index: 10;
  padding-right: 5px;
}

.sell-order {
  color: var(--sell-color);
  z-index: 10;
  padding-left: 5px;
}

.buy-amount {
  padding-left: 5px;
}

.sell-amount {
  padding-right: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Chart layout */
.chart-item-buy, .chart-item-sell {
  color: #fff;
  width: var(--percent);
  height: 24px;
}

.chart-item-buy {
  background-color: rgba(55, 178, 77, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.chart-item-sell {
  background-color: rgba(240, 62, 62, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

