* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #495057;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 20px;
  margin: 5px 0 10px;
}

section {
  margin: 20px 10px 10px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
  section {
    width: 90%;
    min-width: 300px;
  }
}

.summary {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50% auto auto;
  gap: 5px;
  align-items: center;
  line-height: 1.2;
}

.current-price {
  grid-column: 1;
  grid-row: 1/-1;
}

.last-price {
  font-size: 36px;
  font-weight: bold;
  padding: 0 20px;
}

.change-percent {
  padding: 0 20px;
}

.summary span {
  /* color: #212529; */
  font-weight: bold;
}

.total {
  width: 110%;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
  padding: 20px 10px;
}

.total .order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.total-asa {
  font-size: 16px;
}

.total-xu {
  color: #495057;
}

.icon {
  width: 28px;
}

.sell-icon {
  stroke: #f03e3e;
}

.buy-icon {
  stroke: #37b24d;
}

.total .buy-order,
.total .sell-order {
  /* width: 300px; */
  padding-left: 5px;
  font-weight: bold;
}

.buy-order {
  color: #37b24d;
}

.sell-order {
  color: #f03e3e;
}

.menu-select,
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.menu-select {
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
}

.menu-select h3 {
  font-size: 14px;
  justify-self: flex-start;
}

.menu-list {
  font-weight: bold;
}

.input select {
  padding: 3px 17px 3px 5px;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 14px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 7px top 50%, 0, 0;
  background-size: 10px auto, 100%;
  background-repeat: no-repeat;
}

.order-list {
  width: 100%;
  display: flex;
}

.buy-list {
  width: 50%;
  padding-right: 5px;
  border-right: 1px solid #dee2e6;
}

.sell-list {
  width: 50%;
  padding-left: 5px;
}

.buy-list div,
.sell-list div {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
